<%= provide(:title, "About") %>
<br/><br/>
<h1>About</h1>
<p>
    The <a href="http://railstutorial.org/">Ruby on rails tutorial</a> is a <a href="http://www.railstutorial.org/book"> book </a> and a <a href="http://www.railstutorial.org/screencast">
        Screencast series </a> to each web development with <a href="http://railstutorial.org">Ruby on Rails </a> This is the sample application for the tutorial.
</p>